<h1 class="api-header">
  {{model.name}} {{model.constType}}
  {{#project-link file=model.file line=model.line class="edit-page icon-pencil" target="_blank"}}
      {{model.file}}:{{model.line}}
  {{/project-link}}
</h1>

<hr>


<div class="class-info">
  {{#if model.extends}}
    <p>Extends: <a href="/api/classes/Ember.Namespace.html">{{model.extends}}</a></p>
  {{/if}}
  <p>Defined in:
    {{#project-link file=model.file line=model.line class="api-file-link"}}
        {{model.file}}:{{model.line}}
    {{/project-link}}
  </p>
  <p>Module: <a href="/api/modules/ember-application.html">{{model.module}}</a></p>
</div>

<div class="description">
  {{{model.description}}}
</div>


  <div class="tabs">
    <ul>
      {{#link-to 'klass.index' tagName='li'}}
        {{#link-to 'klass.index'}}
          Index
        {{/link-to}}
      {{/link-to}}

      {{#if model.methods}}
        {{#link-to 'klass.methods' tagName='li'}}
          {{#link-to 'klass.methods'}}
            Methods
          {{/link-to}}
        {{/link-to}}
      {{/if}}

      {{#if model.properties}}
        {{#link-to 'klass.properties' tagName='li'}}
          {{#link-to 'klass.properties'}}
            Properties
          {{/link-to}}
        {{/link-to}}
      {{/if}}

      {{#if model.events}}
        {{#link-to 'klass.events' tagName='li'}}
          {{#link-to 'klass.events'}}
            Events
          {{/link-to}}
        {{/link-to}}
      {{/if}}
    </ul>

    <div class="pane" id="index" style="display: block;">
      <div id="api-options">
        Show:
        <label>
          {{evented-checkbox action='updateFilter' value='inherited' checked=this.inherited}}
          Inherited
        </label>
        <label>
          {{evented-checkbox action='updateFilter' value='protected' checked=this.protected}}
          Protected
        </label>
        <label>
          {{evented-checkbox action='updateFilter' value='private' checked=this.private}}
          Private
        </label>
        <label>
          {{evented-checkbox action='updateFilter' value='deprecated' checked=this.deprecated}}
          Deprecated
        </label>
      </div>

  <p></p>

  {{outlet}}

</div>
