<h1 class="api-header">
  {{model.name}} {{model.constType}}
  {{#project-link file=model.file line=model.line class="edit-page icon-pencil" target="_blank"}}
      {{model.file}}:{{model.line}}
  {{/project-link}}
</h1>

<hr>


<div class="class-info">
  {{#if model.extends}}
    <p>
      Extends:
      {{#link-to 'klass' model.extends}}
        {{model.extends}}
      {{/link-to}}
    </p>
  {{/if}}

  {{#if model.uses}}
    {{#each use in model.uses}}
    <p>
      Uses:
      {{#link-to 'klass' use}}
        {{use}}
      {{/link-to}}
    </p>
    {{/each}}
  {{/if}}

  <p>Defined in:
    {{#project-link file=model.file line=model.line class="api-file-link"}}
        {{model.file}}:{{model.line}}
    {{/project-link}}
  </p>
  <p>
    Module:
    {{#link-to 'module' model.submodule}}
      {{model.submodule}}
    {{/link-to}}
  </p>
</div>

<div class="description">
  {{{model.description}}}
</div>


  <div class="tabs">
    <ul>
      <li>
        {{#link-to 'klass.index'}}
          Index
        {{/link-to}}
      </li>

      {{#if model.methods}}
        <li>
          {{#link-to 'klass.methods'}}
              Methods
            {{/link-to}}
        </li>
      {{/if}}

      {{#if model.properties}}
        <li>
          {{#link-to 'klass.properties'}}
            Properties
          {{/link-to}}
        </li>
      {{/if}}

      {{#if model.events}}
        <li>
          {{#link-to 'klass.events'}}
            Events
          {{/link-to}}
        </li>
      {{/if}}
    </ul>

    <div class="pane" id="index" style="display: block;">
      <div id="api-options">
        Show:
        <label>
          {{evented-checkbox action='updateFilter' value='inherited' checked=this.inherited}}
          Inherited
        </label>
        <label>
          {{evented-checkbox action='updateFilter' value='protected' checked=this.protected}}
          Protected
        </label>
        <label>
          {{evented-checkbox action='updateFilter' value='private' checked=this.private}}
          Private
        </label>
        <label>
          {{evented-checkbox action='updateFilter' value='deprecated' checked=this.deprecated}}
          Deprecated
        </label>
      </div>

  <p></p>

  {{outlet}}

</div>
